@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.image {
    border-radius: 16px;
    margin-right: 1rem;
}

.parasiteName {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.parasiteText {
    text-align: center;
}

.accordions {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 2rem;
}
